:root{
  --primary-color: #10B582;
  --accent-color: #FA9F42;
}

html{
  box-sizing: border-box;
}

*,
*::after,
*::before{
  box-sizing: inherit
}

a{
text-decoration: none;
color: inherit;
}

li{
  list-style-type: none;
}

body{
  font-family: "Raleway", serif;
  color: #353A5A;
  font-size: 16px;
  line-height: 150%;
}

.container{
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.block__margin-bottom{
  margin-bottom: 120px;
}

.button-link{
  display: inline-block;
  text-align: center;
  background-color: var(--accent-color);
  color: #FDFDFD;
  padding: 20px 10px;
  width: 230px;
  border-radius: 0 20px 0 20px;
}

.button-link-green{
  background-color: var(--primary-color);
}

.title{
  font-size: 58px;
  line-height: 1.2;
  font-weight: 500;
  margin-bottom: 20px;
}

/* Top start */
.top{
  background-color: var(--primary-color);
  color: #FDFDFD;
  height: 800px;
}

.header-top{
  padding-top: 40px;
  padding-bottom: 50px;
}

.header__nav{
  display: flex;
  gap: 40px;
  justify-content: center;
}

.top__inner{
  position: relative;
  text-align: center;
  padding-top: 98px;
  
}

.top__box{
  max-width: 542px;
  margin: 0 auto;
  padding-bottom: 92px;
}

.top__title{
  font-size: 58px;
  line-height: 120%;
  font-weight: 500;
  margin-top: 40px;
  margin-bottom: 20px;
}

.top__text{
  margin-bottom: 50px;
}

.top__img-one{
  position: absolute;
  top: 0;
  right: 0;
}

.top__img-two{
  position: absolute;
  left: 0;
  bottom: 0;
}

.social{
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: absolute;
  left: 0;
  top: 0;
}

.social-ico{
  height: 22px;
  width: 22px;
}

.top__down{
  position: absolute;
  bottom: 0;
  right: 0;
  
}

.top__down-text{
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-size: 14px;
  line-height: 1;
  margin-bottom: 15px;
}
/* Top end */


/* Numbers start */
.numbers__list{
  display: flex;
  justify-content: center;
  gap: 30px;
}

.numbers__item{
  max-width: 270px;
  text-align: center;
  padding: 0 30px;
}

.numbers__number{
  color: var(--primary-color);
  font-size: 58px;
  line-height: 1;
  font-weight: 500;
  margin-bottom: 15px;
}

.numbers__text{
  font-size: 14px;
  line-height: 120%;
}
/* Numbers end */


/* Lecturers start */
  .lecturers__inner{
    display: flex;
    gap: 100px;
    align-items: center;
  }

  .lecturers__content{
    max-width: 500px;
  }

  .lecturers__text{
    margin-bottom: 50px;
  }

  .lecturers__text span{
    display: inline-block;
    margin-bottom: 20px;
  }

  .lecturers__list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }

  .lecturers__item-info{
    text-align: center;
    font-size: 14px;
    line-height: 130%;
  }
/* Lecturers end */


/* Format start */
.format{
  background-color: var(--primary-color);
  padding: 120px 0;
  color: #FDFDFD;
}

.format__inner{
  display: flex;
  gap: 100px;
  align-items: center;
}

.format__content{
  max-width: 500px;
}

.format__text{
  margin-bottom: 50px;
}
/* Format end */


/* Courses start */
.courses{
  text-align: center;
}
.courses__title{
  text-align: center;
  margin-bottom: 60px;
}

.courses__list{
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 60px;
}

.courses__item{
  padding: 20px;
  box-shadow: 5px 5px 30px rgba(101, 101, 101, .12);
}

.courses__item-title{
  margin-top: 15px;
  line-height: 1;
}
/* Courses end */


/* Rate start */
.rate{
  background-image: url(../images/rate-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 578px;
}

.rate__inner{
  max-width: 508px;
  margin-left: auto;
  padding-top: 120px;
}

.rate__content{
  margin-bottom: 50px;
}
/* Rate end */

/* Footer start */
.footer{
  border-top: 1px solid rgba(53, 58, 90, .1);
}

.footer__main{
  padding-top: 80px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
}

.footer-logo{
  margin-bottom: 27px;
}

.footer__main-info{
  margin-bottom: 47px;
  font-size: 14px;
  max-width: 270px;
}

.footer__main-social{
  display: flex;
  gap: 25px;
}

.footer__main-list-title{
  margin-bottom: 31px;
}

.footer__main-list-item + .footer__main-list-item{
  margin-top: 20px;
}

.footer__main-list-text{
  max-width: 182px;
}

.footer__bottom{
  padding: 30px 0;
  border-top: 1px solid rgba(53, 58, 90, .1);
}

.footer__bottom-content{
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}
.footer__bottom-right{
  display: flex;
  gap: 30px;
}
/* Footer end */


/* START COURSES PAGE STYLE */
.header__inner{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500px;
  padding: 40px 0;
}

/* bresdcrumbs style start */
.breadcrumbs{
  padding: 10px 0;
  margin-bottom: 50px;
}

.breadcrumbs__list{
  display: flex;
}

.breadcrumbs__item{
  padding-right: 34px;
  position: relative;
}

.breadcrumbs__item:last-child{
  font-size: 14px;
  opacity: .5;;
}

.breadcrumbs__item::after{
  position: absolute;
  content:url(../images/arrow-orange-right.svg);
  right: 15px;
}

.breadcrumbs__item:last-child:after{
  display: none;
}
/* bresdcrumbs style end */


/* design style start */
.design-title{
  margin-bottom: 40px;
}

.design__img{
  display: block;
  margin-bottom: 40px;
}

.design__content{
  margin-bottom: 80px;
}

.design__content-title{
  max-width: 870px;
  font-size: 22px;
  font-weight: 500;
  line-height: 130%;
  margin-bottom: 25px;
}

.design__content-text{
  max-width: 800px;
}
.design__content-text + .design__content-text{
  margin-top: 25px;
}

.design__numbers-list{
  display: flex;
  justify-content: space-between;

}

.design__numbers-item{
  max-width: 270px;
  text-align: center;
}

.design__numbers-number{
  color: var(--primary-color);
  font-size: 58px;
  font-weight: 500;
  line-height: 100%;
  margin-bottom: 8px;
}

.design__numbers-text{
  font-size: 14px;
  line-height: 120%;
}
/* design style start */

/* END COURSES PAGE STYLE */